body {
  background-image: url("background.jpg");
}

#shopName, #title {
  text-align: center;
  color: white;
  font-size: 70px;
}

#hint {
  color: white;
}

#configureBtn {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  top:15px;
  right:10px;
}

#clearBtn1 {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  top:15px;
  right:208px;
}

#caption {
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 50px;
}

.carousel {
  border-style: double;
  margin-left: auto;
  margin-right: auto;
  max-width:980px;
}

.slides {
  width: 100%
}

#newShopName, #newCaption {
  text-align: center;
  width: 500px;
  padding: 5px 10px;
  font-size: 100%;
}

#header {
  color: white;
  padding: 5px 10px;
  font-size: 30px;
}

#blockCenter {
  text-align: center;
}

#submit {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
